

*{
    margin: 0;
    text-decoration: none;
    background-color: white;

}


header{
    display: flex;
    justify-content: center;
    background-color: red;
    color: white;
    padding: 2%;
    border-style:solid;
    border-color: black;    
    border-width: 1px;
}
h1{
    background-color: red;
    font-size: 350%;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;

}


a{
    margin: 5%;
    margin-right: 50%;
    margin-left: 50%;
display: flex;
justify-content: center;
align-items: center;
font-size: 300%;
padding: 1%;
gap: 20px;
}