@import url('https://fonts.googleapis.com/css?family=Baloo');

*{
    margin: 0;
    text-decoration: none;
    font-family: 'Baloo', sans-serif;
    

}
html {
    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0%;
    border-style:solid;
    border-color: black;    
    border-width: 1px;
    background-image: url("background.png");
    background-repeat: no-repeat;

    background-size: 100% auto;
    padding-bottom: 30%;
}
h1{
    background: none;
    font-size: 250%;
    text-align: center;
    margin: 0%;
    color: #2f4858;
    
}

.redes{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding: 0%;
    margin: 0%;

}


.a_redes{

    text-align: center;
    color: black;

    display: inline-block;
    
    font-size: 200%;
    padding: 0%;
    
}


nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0%;
    padding-left: 5% ;
    padding-right: 5% ;

    
}

.div_nav{

display: flex;
flex-direction: row;
margin: 01%;

}


.a_nav{
    display: flex;
    justify-content: center;
    margin: 2%;
    background: none;
    background-color: red;
    border-color: red;
    border-radius: 10%;
    color: black;
    
    border-style: solid;
    border-radius: 30px;
    border-color: var(red);
    padding:3px 20px 3px 20px;
    font-size: 150%;
    margin-top: 1%;
    
}



.a_nav:hover{

color: white;

}


.div_header{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

}

p{
font-size: 200%;

}

.p_div{
    color: #EE4B2B;
    text-align: center;


}
.div_p{
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.p_body{
    
    font-size: 300%;
    color: black;
}


.div_body{
    display: flex;
    flex-direction: column;
    background-color: #d3d3d3;
    text-align: center;
    

}


.img_planos{
    border-color: red;
    border-style: ridge;
    border-radius: 5%;
    margin: 0%;
    margin-top: 0%;
    width: 20%; /* Set width to more than 100% */
    margin-bottom: 2%;
    height: auto; /* Maintain aspect ratio */
    

}

.div_planos{
    
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    

}


.div_body1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #bdb7b7;


}
#menu {
    
    position: fixed;
    display: flex;

    top: 0;
    width: 90%; 
    z-index: 1000;
}
.img_menu{
    margin: 0%;
    margin-left: -45%;
    max-width: 40%;
    height: auto;
}


.menu-scrolled{

color: white;

}

.div_footer{
    display: flex;
    justify-content: space-between;

}
.box {
    flex: 1; /* Permite que as divs ocupem o mesmo espaço */
    padding: 20px;
    
}


.box_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    padding: 20px;
}

footer{
padding: 0%;
margin: 0%;
display: flex;
flex-direction: column;
text-align: center;

}

.div_redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-color: red;
    color: black;
    padding-right: 5%;
    margin: 1%;
    border: 1px solid currentcolor;
    border-radius: 100rem;
    border-style: solid;
    border-color: var(red);
    background-color: #808080;
}   
img{
    margin: 1%;
}

.box_left{

    flex: 1; /* Permite que as divs ocupem o mesmo espaço */
    
    padding: 20px;
}
.box_left_text{

    font-size: 200%;
    
}
img{

    margin: 3%;

}

@media screen and (max-width: 1285px) {
    .box_img{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
    }
    .a_redes{

        
        padding: 0%;
    }
    .div_redes{

        padding-right: 0%;
    }
 }


@media screen and (max-width: 912px) {
    .box_img{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .a_redes{

        font-size: 100%;
        padding: 0%;
    }
    .div_redes{

        padding-right: 0%;
    }

    .img_menu{
        margin: 0%;
        margin-left: -55%;
        max-width: 20%;
        height: auto;
    }
    .a_nav{
        font-size: 80%;

    }
    .p_body{
        font-size: 200%;

    }
 }

 @media screen and (max-width: 700px) {
    header{

        padding-bottom: 20%;
        background-image: url("background_vertical.png");
        background-size: 100%;
        padding-bottom: 100%;
    }
    .box_left_text{

        font-size: 100%;
    }
    .div_planos{

        gap: 5px;
        max-width: 120%;
    }

 }

 @media screen and (max-width: 600px) {

    .div_footer{
        flex-direction: column;
        align-items: center;
    }

 }

 @media screen and (max-width: 450px) {

   .img_menu{
    max-width: 50%;

   }
   .img_planos{
    width: 30%;
   }
   .div_redes{
    width: 270%;
    margin: 10%;   
}
   .a_redes{
    
    font-size: 200%;
   }


 }